body {
  background-color: #000000;
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  letter-spacing: normal;
}
code,
pre {
  font-family: "Inconsolata", monospace;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(
    135deg,
    #2a3762 0%,
    #3a2956 50%,
    #181826 100%
  );
  min-height: 40px;
  border: 3px solid #181826;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    135deg,
    #3a4a84 0%,
    #4a396a 50%,
    #2a2a3a 100%
  );
}
::-webkit-scrollbar-track {
  background: #181826;
  border-radius: 8px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #2a3762 #181826;
}
